.hky_style_a{
    margin-top: 11PX;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3.5px;
}
.margin_hky_b{
    margin-top: 25px;
}
.img_hky{
    width: 200%;
}
/* body{
    background-color: rgb(244, 244, 244);
} */
.bag{
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 300px;
}
.body h2{
    color: rgb(66, 66, 66);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 27px;
}
.hky_span{
    font-size: 14px;
    color: rgba(94, 94, 94,0.8);
    letter-spacing: 0.2px;
    font-weight: 500;
    margin-left: 1px;
    position: relative;
    top: -0.1px;
}
.hky_margin{
    margin-top: 30px;
}
.hky_margin_a{
    margin-top: 30px;
}
.hky_position{
    position: absolute;
    top: 4px;
    left: 32px;
}
.checkbox label::before{
    border: 2px solid #cccccc !important;
    background-color: rgba(255,255,255,0) !important;
}
.checkbox-info input[type="checkbox"]:checked + label::before, .checkbox-info input[type="radio"]:checked + label::before{background-color: #5bc0de !important;border-color: #5bc0de !important;}
.hky_position_a{
    position: absolute;
    top: 7px;
    right: 25px;
}
.btn-group button{
    border-radius: 50% ;
    background-color: rgba(0,0,0,0) ;
    border-color: rgba(0,0,0,0) ;
    color: rgba(0,0,0,0.6) ;
    transition: all 0.2s;
    padding: 2px 4px;
}
.btn-group button i{
    position: relative;
    top: 2px;
}
.btn-group:hover .hky_button{background-color: rgba(0,0,0,.12); border-color: rgba(255,255,255,0);}
.open>.dropdown-toggle.btn-default:focus{background-color: rgba(0, 0, 0, .12);border-color: rgba(0, 0, 0, .12);}
.btn-group.open .dropdown-toggle{-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0); box-shadow: inset 0 3px 5px rgba(0,0,0,0);}
.btn-default:active{color: #333;background-color: rgba(0, 0, 0, .12);border-color: rgba(0, 0, 0, .12);}
.btn:active{-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0); box-shadow: inset 0 3px 5px rgba(0,0,0,0);}
.dropdown-menu{
    position: absolute;
    left: -119px;
}
.hky_hover{
    opacity: 0;
    transition: all 0.3s;
}
.hky_img:hover .hky_hover{
    opacity: 1;
}
/* .hky_style{
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
} */
/* .hky_img{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
} */
.style_hky{
    background-color: #ffffff;
    padding: 7px;
}
.style_hky a{
    color: #333 !important;
    transition: all 0.3s;
}
.style_hky a:hover{
    color: #5bc0de !important;
}
.style_hky a:hover, .style_hky a:focus{
    text-decoration: none;
}
.margin_hky{
    margin-top: 25px;
}
.home_add{
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    right: 30px;
    bottom: 20px;
    position: fixed;
    width: 50px;
    min-width: inherit;
    padding: 0;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background-color: #f44336 !important;
    border: 0;
    outline: none;
    font-size: 23px;
    z-index: 999;
    cursor: pointer;
}
.home_add .material-icons{
    vertical-align: middle;
    position: relative;left: 13px;
}
.hky_style_b{
    margin-top: 11PX;
}
.ceshi{
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.phots{
    margin-top: 2px;
    color: #8e8e8e;
    font-size: 12px;
    letter-spacing: 0.7px;
}