<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/albums_hky.css">
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="../static/css/build.css">
    <link rel="stylesheet" href="../static/fonts/material-icons.css">
</head>
<body>
    <div class="container">
        <div class="lightbox">
            <div class="row">
                <!-- strat -->
                <div class="col-lg-3 col-md-3 col-sm-6 margin_hky">
                    <div class="hky_img">
                        <a href="javascript:(0)"><img src="../static/images/movie.jpg" alt="hky_img" class="img-responsive img_hky"></a>
                        <div class="hky_hover">
                            <div class="checkbox checkbox-info hky_position">
                                <input id="checkbox4" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    <span class="hky_span"></span>
                                </label>
                            </div>
                            <div class="hky_position_a">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle hky_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">重命名</a></li>
                                        <li><a href="#">删除</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hky_display hky_style">
                        <form action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">新名称</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                            </div>
                            <div class="hky_btn_dis">
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" id="quxiao">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end -->
                 <!-- strat -->
                 <div class="col-lg-3 col-md-3 col-sm-6 margin_hky">
                    <div class="hky_img">
                        <a href="javascript:(0)"><img src="../static/images/movie.jpg" alt="hky_img" class="img-responsive img_hky"></a>
                        <div class="hky_hover">
                            <div class="checkbox checkbox-info hky_position">
                                <input id="checkbox4" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    <span class="hky_span"></span>
                                </label>
                            </div>
                            <div class="hky_position_a">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle hky_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">重命名</a></li>
                                        <li><a href="#">删除</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hky_display hky_style">
                        <form action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">新名称</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                            </div>
                            <div class="hky_btn_dis">
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" id="quxiao">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end -->
                    <!-- strat -->
                <div class="col-lg-3 col-md-3 col-sm-6 margin_hky">
                    <div class="hky_img">
                        <a href="javascript:(0)"><img src="../static/images/movie.jpg" alt="hky_img" class="img-responsive img_hky"></a>
                        <div class="hky_hover">
                            <div class="checkbox checkbox-info hky_position">
                                <input id="checkbox4" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    <span class="hky_span"></span>
                                </label>
                            </div>
                            <div class="hky_position_a">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle hky_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">重命名</a></li>
                                        <li><a href="#">删除</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hky_display hky_style">
                        <form action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">新名称</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                            </div>
                            <div class="hky_btn_dis">
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" id="quxiao">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end -->
                    <!-- strat -->
                <div class="col-lg-3 col-md-3 col-sm-6 margin_hky">
                    <div class="hky_img">
                        <a href="javascript:(0)"><img src="../static/images/movie.jpg" alt="hky_img" class="img-responsive img_hky"></a>
                        <div class="hky_hover">
                            <div class="checkbox checkbox-info hky_position">
                                <input id="checkbox4" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    <span class="hky_span"></span>
                                </label>
                            </div>
                            <div class="hky_position_a">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle hky_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">重命名</a></li>
                                        <li><a href="#">删除</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hky_display hky_style">
                        <form action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">新名称</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                            </div>
                            <div class="hky_btn_dis">
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" id="quxiao">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end -->
                    <!-- strat -->
                <div class="col-lg-3 col-md-3 col-sm-6 margin_hky">
                    <div class="hky_img">
                        <a href="javascript:(0)"><img src="../static/images/movie.jpg" alt="hky_img" class="img-responsive img_hky"></a>
                        <div class="hky_hover">
                            <div class="checkbox checkbox-info hky_position">
                                <input id="checkbox4" class="styled" type="checkbox">
                                <label for="checkbox4">
                                    <span class="hky_span"></span>
                                </label>
                            </div>
                            <div class="hky_position_a">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle hky_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">重命名</a></li>
                                        <li><a href="#">删除</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hky_display hky_style">
                        <form action="#">
                            <div class="form-group">
                                <label for="exampleInputEmail1">新名称</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                            </div>
                            <div class="hky_btn_dis">
                                <button type="button" class="btn btn-info">修改</button>
                                <button type="button" class="btn btn-danger" id="quxiao">取消</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>


    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/album_hky.js"></script>
    <script type="text/javascript">
	    function changeState(el) {
	        if (el.readOnly) el.checked=el.readOnly=false;
	        else if (!el.checked) el.readOnly=el.indeterminate=true;
	    }
	</script>
</body>
</html>